// *****************************
// Importer for testing partials
// *****************************

@charset 'UTF-8';

$jigsass-breakpoints: (
  lengths: (
    default: 0,
    s: 320px,
    m: 720px,
    l: 1024px
  ),

  features: (
    landscape: '(orientation: landscape)',
    portrait: '(orientation: portrait)'
  )
) !default;

// General use testing helpers
@import 'test/helpers/_test-helpers.scss';

// Import project files.
@import 'node_modules/jigsass-tools-maps/scss/index';
@import 'node_modules/jigsass-tools-mq/scss/index';
@import 'node_modules/jigsass-tools-typography/scss/index';
@import 'node_modules/jigsass-tools-strings/scss/index';
@import 'node_modules/jigsass-tools-bidi/scss/index';

$m2s-test1: (
  border-start: jigsass-rhythm(1) solid #ccc,
  transform: translateX(50%),
  padding: 0 jigsass-rhythm(2) 0 jigsass-rhythm(3)
);

$m2s-test2: (
  '& > .nested': (
    border-start: jigsass-rhythm(1) solid #ccc,
  )
);


// Import project files.
@import 'scss/index.scss';

@mixin test-silent($silent: false) {
  $_orig-silent: $jigsass-silent;
  $jigsass-silent: $silent !global;

  @content

  $jigsass-silent: $_orig-silent !global;
}


